.obj {
  text-align: center;
 

}

.obj-article {
  background: var(--color--bg-variant);
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.945);
  color: var(--color-light);
}

.obj-article:hover {
  color: wheat;
}


.objective-Sec{
  
  margin-top:40rem;

}


/* =====================MEDIA QUERY(MEDIUM DEVICE[TABLETS])================================= */

@media screen and (max-width: 1024px) {

} 
  
  /* =====================MEDIA QUERY(SMALL DEVICE[MOBILE])================================= */
  
  @media screen and (max-width: 600px) {

}